In [1]:
import numpy as np
import pandas as pd

In [4]:
gapminder_df = pd.read_csv("gapminder.csv")
gapminder_df.head()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific

In [5]:
gapminder_df.describe()

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality
count,1.390000e+02,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000,139.000000
mean,3.549977e+07,3.005108,1.915612,4.459874,24.623054,16638.784173,126.701914,69.602878,45.097122
std,1.095121e+08,1.615354,4.408974,6.268349,2.209368,19207.299083,4.471997,9.122189,45.724667
min,2.773150e+05,1.280000,0.060000,0.008618,20.397420,588.000000,117.375500,45.200000,2.700000
25%,3.752776e+06,1.810000,0.100000,0.496190,22.448135,2899.000000,123.232200,62.200000,8.100000
50%,9.705130e+06,2.410000,0.400000,2.223796,25.156990,9938.000000,126.519600,72.000000,24.000000
75%,2.791973e+07,4.095000,1.300000,6.589156,26.497575,23278.500000,130.275900,76.850000,74.200000
max,1.197070e+09,7.590000,25.900000,48.702062,28.456980,126076.000000,135.492000,82.600000,192.000000

In [6]:
gapminder_df1 = gapminder_df.copy()
gapminder_df1

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific
...,...,...,...,...,...,...,...,...,...,...
134,3350832.0,2.11,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,America
135,26952719.0,2.46,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,Europe & Central Asia
136,86589342.0,1.86,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,East Asia & Pacific
137,13114579.0,5.88,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,Sub-Saharan Africa
138,13495462.0,3.85,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,Sub-Saharan Africa

In [7]:
hot_encoded_data = pd.get_dummies(gapminder_df1, columns = ['Region'])

In [8]:
hot_encoded_data

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region_America,Region_East Asia & Pacific,Region_Europe & Central Asia,Region_Middle East & North Africa,Region_South Asia,Region_Sub-Saharan Africa
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,0,0,0,1,0,0
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,0,0,0,0,0,1
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,1,0,0,0,0,0
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,0,0,1,0,0,0
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134,3350832.0,2.11,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,1,0,0,0,0,0
135,26952719.0,2.46,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,0,0,1,0,0,0
136,86589342.0,1.86,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,0,1,0,0,0,0
137,13114579.0,5.88,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,0,0,0,0,0,1
138,13495462.0,3.85,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,0,0,0,0,0,1

In [9]:
gapminder_df1_label_encoding = gapminder_df.copy()
gapminder_df1_label_encoding

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific
...,...,...,...,...,...,...,...,...,...,...
134,3350832.0,2.11,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,America
135,26952719.0,2.46,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,Europe & Central Asia
136,86589342.0,1.86,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,East Asia & Pacific
137,13114579.0,5.88,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,Sub-Saharan Africa
138,13495462.0,3.85,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,Sub-Saharan Africa

In [10]:
# Converting type of columns to 'category'
gapminder_df1_label_encoding['Region'] = gapminder_df1_label_encoding['Region'].astype('category')

# Assigning numerical values and storing in another column
gapminder_df1_label_encoding['Region_Cat'] = gapminder_df1_label_encoding['Region'].cat.codes

gapminder_df1_label_encoding

,population,fertility,HIV,CO2,BMI_male,GDP,BMI_female,life,child_mortality,Region,Region_Cat
0,34811059.0,2.73,0.1,3.328945,24.59620,12314.0,129.9049,75.3,29.5,Middle East & North Africa,3
1,19842251.0,6.43,2.0,1.474353,22.25083,7103.0,130.1247,58.3,192.0,Sub-Saharan Africa,5
2,40381860.0,2.24,0.5,4.785170,27.50170,14646.0,118.8915,75.5,15.4,America,0
3,2975029.0,1.40,0.1,1.804106,25.35542,7383.0,132.8108,72.5,20.0,Europe & Central Asia,2
4,21370348.0,1.96,0.1,18.016313,27.56373,41312.0,117.3755,81.5,5.2,East Asia & Pacific,1
...,...,...,...,...,...,...,...,...,...,...,...
134,3350832.0,2.11,0.5,2.489764,26.39123,15317.0,124.2604,76.0,13.0,America,0
135,26952719.0,2.46,0.1,4.476669,25.32054,3733.0,124.3462,68.7,49.2,Europe & Central Asia,2
136,86589342.0,1.86,0.4,1.479347,20.91630,4085.0,121.9367,75.4,26.2,East Asia & Pacific,1
137,13114579.0,5.88,13.6,0.148982,20.68321,3039.0,132.4493,52.0,94.9,Sub-Saharan Africa,5
138,13495462.0,3.85,15.1,0.654323,22.02660,1286.0,131.9745,49.0,98.3,Sub-Saharan Africa,5

We should use Hot Encoding here as Value of Region is not categorized. Label encoding will be applicable in scenario where column can be categorized.

# Wine Data Set Requirement

In [13]:
wine_data_df = pd.read_csv("wine_data_uci.csv")
wine_data_df.head()

,quality,Alcohol,Malicacid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,0D280_0D315_of_diluted_wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [2]:
import numpy as np
from numpy.random import seed, randint
import pandas as pd

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

# A jupyter notebook specific command that let’s you see the plots in the notbook itself.
%matplotlib inline 

import warnings
warnings.filterwarnings('ignore')

In [4]:
wine_data_df = pd.read_csv("wine_data_uci.csv")
wine_data_df.head()

,quality,Alcohol,Malicacid,Ash,Alcalinity_of_ash,Magnesium,Total_phenols,Flavanoids,Nonflavanoid_phenols,Proanthocyanins,Color_intensity,Hue,0D280_0D315_of_diluted_wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [7]:
wine_data_df = wine_data_df[['quality', 'Alcohol', 'Malicacid']]
wine_data_df.sample(5)

    quality  Alcohol  Malicacid
64        2    12.17       1.45
12        1    13.75       1.73
82        2    12.08       1.13
36        1    13.28       1.64
81        2    12.72       1.81

In [8]:
wine_data_df = wine_data_df[['quality', 'Alcohol', 'Malicacid']]
X = wine_data_df['quality']
y = wine_data_df['Alcohol']
z = wine_data_df['Malicacid']
X = X.to_numpy()
y = y.to_numpy()
z = z.to_numpy()

In [9]:
from sklearn.preprocessing import Normalizer
normalizer = Normalizer().fit([X])
normalizer.transform([X])

array([[0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.03592106,
        0.03592106, 0.03592106, 0.03592106, 0.03592106, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.07184212, 0.07184212, 0.07184212, 0.07184212, 0.07184212,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318, 0.10776318, 0.10776318,
        0.10776318, 0.10776318, 0.10776318]])

In [10]:
normalizer = Normalizer().fit([y])
normalizer.transform([y])

array([[0.0818824 , 0.07595556, 0.07572539, 0.08268799, 0.07618573,
        0.08170977, 0.08280307, 0.08090418, 0.08533492, 0.07975334,
        0.08113435, 0.08124943, 0.07912038, 0.08487458, 0.08274553,
        0.07842987, 0.08228519, 0.07958071, 0.08165223, 0.07848741,
        0.08090418, 0.07440192, 0.07889021, 0.07394159, 0.07768182,
        0.07509243, 0.07704886, 0.07653098, 0.07981088, 0.08067401,
        0.07900529, 0.07814216, 0.07871758, 0.07917792, 0.07773937,
        0.07756674, 0.0764159 , 0.07509243, 0.07520751, 0.08182485,
        0.07802708, 0.07716394, 0.07986842, 0.07618573, 0.07509243,
        0.08176731, 0.08274553, 0.07998351, 0.08113435, 0.08021368,
        0.07509243, 0.07958071, 0.07952317, 0.07923546, 0.07906283,
        0.07802708, 0.08182485, 0.07647344, 0.07894775, 0.07117957,
        0.0709494 , 0.0727332 , 0.07866004, 0.07117957, 0.07002873,
        0.07117957, 0.07543768, 0.07117957, 0.07676115, 0.07025889,
        0.07071923, 0.07975334, 0.07762428, 0.07474718, 0.06882034,
        0.06709408, 0.07497734, 0.06812984, 0.0709494 , 0.07307846,
        0.06905051, 0.07319354, 0.06951085, 0.07509243, 0.06812984,
        0.07290583, 0.06997118, 0.06703654, 0.06697899, 0.06951085,
        0.06951085, 0.06905051, 0.07302091, 0.07071923, 0.06686391,
        0.07175499, 0.06795721, 0.07071923, 0.07117957, 0.07071923,
        0.06951085, 0.07250304, 0.07100694, 0.06801475, 0.07198516,
        0.07146728, 0.07048906, 0.07319354, 0.07031644, 0.06680637,
        0.06594324, 0.0720427 , 0.0676695 , 0.06565553, 0.06951085,
        0.06346893, 0.06801475, 0.07146728, 0.07348125, 0.06905051,
        0.06588569, 0.06651866, 0.07146728, 0.07509243, 0.06830246,
        0.0694533 , 0.07152482, 0.06784213, 0.07117957, 0.06928068,
        0.07399913, 0.07411421, 0.07371142, 0.07307846, 0.07198516,
        0.07250304, 0.07048906, 0.07210024, 0.07762428, 0.07388405,
        0.07440192, 0.07687623, 0.07779691, 0.07837233, 0.07048906,
        0.07572539, 0.07986842, 0.07405667, 0.07664607, 0.07526506,
        0.07768182, 0.07359633, 0.07543768, 0.07612819, 0.07238795,
        0.07578293, 0.07963825, 0.0716399 , 0.08251536, 0.07756674,
        0.07112202, 0.07877512, 0.07394159, 0.07457455, 0.079293  ,
        0.07900529, 0.07739411, 0.07376896, 0.07814216, 0.0771064 ,
        0.07020135, 0.07348125, 0.0814796 , 0.07889021, 0.0771064 ,
        0.07635836, 0.07578293, 0.08130698]])

In [11]:
normalizer = Normalizer().fit([z])
normalizer.transform([z])

array([[0.04951811, 0.05154516, 0.06834078, 0.05646802, 0.07500111,
        0.050966  , 0.05415138, 0.06225961, 0.04749105, 0.03909324,
        0.06254919, 0.04285778, 0.05009726, 0.05009726, 0.05415138,
        0.0524139 , 0.05559928, 0.04546399, 0.04604315, 0.08976967,
        0.04720147, 0.11004023, 0.0538618 , 0.04633273, 0.0524139 ,
        0.05936381, 0.05125558, 0.04980769, 0.05502012, 0.04864937,
        0.04343693, 0.04807021, 0.05299306, 0.04430567, 0.05212432,
        0.0524139 , 0.04749105, 0.04778063, 0.04343693, 0.11554225,
        0.04951811, 0.11119855, 0.05473054, 0.11525267, 0.05125558,
        0.11699014, 0.10395906, 0.04864937, 0.05849507, 0.05009726,
        0.05009726, 0.04778063, 0.05067642, 0.05502012, 0.04835979,
        0.05009726, 0.04922853, 0.05704717, 0.04140988, 0.02722048,
        0.03185375, 0.03938282, 0.03619745, 0.03272249, 0.04198904,
        0.03503913, 0.02924754, 0.03388081, 0.02722048, 0.03445997,
        0.04662231, 0.04372651, 0.04807021, 0.04835979, 0.03156417,
        0.05444096, 0.02606216, 0.08368849, 0.02866838, 0.11206729,
        0.02664132, 0.0524139 , 0.03272249, 0.11177771, 0.02577258,
        0.0283788 , 0.04662231, 0.04835979, 0.05965339, 0.03851408,
        0.05299306, 0.04372651, 0.04430567, 0.08195102, 0.05762633,
        0.04401609, 0.06139087, 0.04083072, 0.03098501, 0.09179672,
        0.06023255, 0.03880366, 0.07094699, 0.04980769, 0.05009726,
        0.07384279, 0.05009726, 0.05067642, 0.03735576, 0.03909324,
        0.10830276, 0.07036783, 0.07760732, 0.02142889, 0.04025156,
        0.04372651, 0.0425682 , 0.04662231, 0.09932579, 0.09932579,
        0.0694991 , 0.05936381, 0.12828375, 0.16795615, 0.12480879,
        0.06254919, 0.04430567, 0.06168045, 0.04720147, 0.12451921,
        0.03909324, 0.08658429, 0.06689288, 0.10280075, 0.03590787,
        0.07123657, 0.13668155, 0.15955834, 0.10395906, 0.08571555,
        0.08137186, 0.07413237, 0.09179672, 0.14334188, 0.11235687,
        0.1033799 , 0.1459481 , 0.13349618, 0.09382378, 0.11293603,
        0.09034882, 0.07731774, 0.05502012, 0.09556126, 0.03735576,
        0.15029179, 0.11930678, 0.08774261, 0.04864937, 0.04835979,
        0.11090897, 0.09440294, 0.09469252, 0.09990495, 0.07992396,
        0.12625669, 0.10714444, 0.09758831, 0.07471153, 0.1332066 ,
        0.08774261, 0.06920952, 0.07268447, 0.16361245, 0.11322561,
        0.12394005, 0.07500111, 0.11872762]])

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit_transform([X])
sc.transform([X])
sc.fit_transform([y])
sc.transform([y])
sc.fit_transform([z])
sc.transform([z])

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0.]])

In [14]:
#Min-Max Scaling
wine_data_df = (wine_data_df-wine_data_df.min())/(wine_data_df.max()-wine_data_df.min())
print(wine_data_df)

     quality   Alcohol  Malicacid
0        0.0  0.842105   0.191700
1        0.0  0.571053   0.205534
2        0.0  0.560526   0.320158
3        0.0  0.878947   0.239130
4        0.0  0.581579   0.365613
..       ...       ...        ...
173      1.0  0.705263   0.970356
174      1.0  0.623684   0.626482
175      1.0  0.589474   0.699605
176      1.0  0.563158   0.365613
177      1.0  0.815789   0.664032

[178 rows x 3 columns]

In [15]:
sns.kdeplot(
   data=wine_data_df, x="quality",
   fill=True, common_norm=False, palette="crest",
   alpha=.5, linewidth=0,
)
plt.show()

NameError: name 'sns' is not defined